<ion-view view-title="Images">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="image in images" type="item-text-wrap" href="#/tab/images/{{image.id}}">
        <img ng-src="{{image.face}}">
        <h2 class="imageTitle">{{image.name}}</h2>
        <p>{{image.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(image)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
